*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* General */

.test{
    background-color: lightgrey;
    height: 200px;
    width: 200px;
    margin: 5px;
}

.bd-radius{
    border-radius: 50%;
}
.main-container{
    display: flex;
    height: 90vh;
}

.subtitle{
    font-size: 12px;
}

.grey{
    color: #6a6d72;
}

/* Aside Section */

aside{
    background-color: black;
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 10px
}

aside img{
    width: 80%;
}

.aside-playlist{
    background-color: grey;
    flex-grow: 1;
}

.aside-account{
    background-color: red;
}

/* Header Section */

header.cta-header button{
    align-self: center;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    background-color:transparent;
}

.cta-header{
    display: flex;
    height: 8vh;
    width: calc(100% - 250px);
    text-align: right;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    padding: 25px 20px;
}
/* Navbar Section */

ul.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
}

ul.navbar li{
    margin: 0 10px;
}

ul.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

/* Main Section */

main{
    background-color:#141922;
    flex-grow: 1;
    overflow: auto;
    padding: 8vh 2vh 0vh 2vh;
  
}
/* Playlist Content */

section.playlist{
    margin-top: 20px;
}

.playlist-content{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.playlist-content .card img{
    max-width: 100%;
}

.playlist-content .card{
    width: calc(100% / 6);
    padding: 20px 10px 20px 0;
    text-align: center;
    list-style: none;
}


/* Footer Section */

footer{
    background-color: #282828;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

footer div.footer-left, div.footer-center, div.footer-right{
    align-self: center;
    display: flex;
    justify-content: center;
}

footer div.footer-left img{
   object-fit: cover;
   max-height: 5vh;
   padding: 0px 5px;
}

footer div.footer-left div{
    align-self: center;
    margin: 0 10px;
}

footer i{
    margin: 0 5px;
}

footer .footer-center{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;

}

footer .footer-center ul{
    list-style: none;
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
}

footer .footer-center ul li{
    margin: 0 10px;
    justify-content: center;
    align-self: center;
}

footer .footer-center .timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-center .bar{
    height: 4px;
    width: 400px;
    background-color: grey;
    border-radius: 5px;
    margin: 0 20px;
    
}

.footer-center .bar .color-bar{
    height:4px;
    width: 20%;
    background-color: white;
    border-radius: 5px;
}

footer .time{
    font-size: 10px;
}

.footer-center .fas, 
.footer-center .far{
    font-size: 16px;
}

footer .footer-center .fa-play-circle.far{
    font-size: 25px;
}

footer .footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right .bar .color-bar{
    height:4px;
    width: 20%;
    background-color: white;
    border-radius: 5px;
}

.footer-right .bar{
    height: 4px;
    width: 100px;
    background-color: grey;
    border-radius: 5px;
    margin: 0 20px;
}



























/* RESPONSIVE SECTION */

@media screen and (max-width:1000px){
    .playlist-content .card{
        width: 25%;
    }
}

@media screen and (max-width:750px){
    .playlist-content .card{
        width: 50%;
    }
}