*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* General */

.test{
    background-color: red;
    height: 200px;
    width: 200px;
}

.main-container{
    display: flex;
    height: 90vh;
    
}

aside{
    background-color: black;
    width: 250px;
}

main{
    background-color: lightcoral;
    flex-grow: 1;
    overflow: auto;
    padding-top: 8vh;


}

footer{
    background-color: blue;
    height: 10vh;
}

.cta-header{
    display: flex;
    height: 8vh;
    width: 100%;
    text-align: right;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    padding: 20px 15px;

}
header.cta-header button{
    align-self: center;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid white;
}

ul.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
}

ul.navbar li{
    margin: 0 10px;
}